{% extends 'base.html' %}

{% block content %}

<h2 class="text-3xl font-bold text-center text-gray-900 dark:text-white mb-6">
  🗒️ My Blog 🗒️
</h2>

{% for post in entries %}
<article class="flex bg-white transition hover:shadow-xl dark:bg-gray-900 dark:shadow-gray-800/25">
  <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
    <time
      datetime="{{ post.date }}"
      class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900 dark:text-white"
    >
      <span>{{ post.date | date:"Y" }}</span>
      <span class="w-px flex-1 bg-gray-900/10 dark:bg-white/10"></span>
      <span>{{ post.date | date:"F" }} {{ post.date | date:"d" }}</span>
    </time>
  </div>

  <div class="hidden sm:block sm:basis-56">
    <img
      alt=""
      src="{{ post.image }}"
      class="aspect-square h-full w-full object-cover"
    />
  </div>

  <div class="flex flex-1 flex-col justify-between">
    <div
      class="border-s border-gray-900/10 p-4 sm:!border-l-transparent sm:p-6 dark:border-white/10"
    >
      <a href="#">
        <h3 class="font-bold uppercase text-gray-900 dark:text-white">
          {{ post.title }} 
        </h3>
      </a>

      <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700 dark:text-gray-200">
        {{ post.content | safe }}
      </p>
    </div>

    <div class="sm:flex sm:items-end sm:justify-end">
      <a
        href="{% url 'blog' %}{{ post.id }}"
        class="block bg-yellow-400 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-500"
      >
        Read Blog
      </a>
    </div>
  </div>
</article>

<br>
{% endfor %}

{% endblock %}