{% extends 'base.html' %}

{% block content %}
<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 dark:bg-gray-900">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24 sm:order-1">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl dark:text-white">
        🚀 Hi, I'm Jorge Argüello! 👨‍💻🐍
      </h2>

      <p class="text-gray-500 md:mt-4 md:block dark:text-gray-300">
        Passionate Python Developer & tech enthusiast, always looking for new challenges! I love building scalable and efficient software solutions, specializing in backend, AI, and automation 🤖.

        <br><br>
        I'm deeply involved in open-source projects and constantly expanding my skills in Rust, JavaScript, and more.

        <br><br>
        When I’m not coding, I enjoy capturing moments through photography 📷. Always eager to learn, create, and collaborate!
      </p>
    </div>
  </div>

  <img
    alt="My profile picture"
    src="https://avatars.githubusercontent.com/u/46856713?v=4"
    class="h-56 w-full object-cover sm:h-full sm:order-2"
  />
</section>
{% endblock %}
