# Carpeta virtual environment (por ejemplo, si usas venv o virtualenv)
.venv/
.env

# Archivos generados por Python
*.pyc
__pycache__/

# Carpeta de migraciones de Django
# */migrations/

# Archivo de registro (logs)
*.log

# Archivo de base de datos SQLite
*.sqlite              
db.sqlite3
