body{
	color: #b5b5b5;
	background-color: #3c3c3c;
}
/* Menu */
.nav{
	background-color: #666666;
	padding: 2em; 
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
.nav p{
	text-align: center;
}
.nav img, h1{
	display: block;
	text-align: center;
}
.nav-menu ul li {
	display: inline;
	text-decoration: none;
	padding: 1em;
}
/* Imagen del titulo */
.nav img{
	border-radius: 50%;
	width: 8em;
	padding-left: 45%;
	padding-right: 45%;
}
.nav-menu a{
	text-decoration: none;
	color: #b5b5b5;
}
#titulo{
	margin: 0 auto;
}
/* Menu de contenidos */
.nav-menu{
	text-align: right;
}
.nav-menu li{
	padding: 1em;
}
.nav-menu a:hover{
	color: #666666;
	background-color: #b5b5b5;
	padding: 0.5em;
	border-radius: 0.3em;
}
/* Main */
main{
	background-color: white;
	color: #666666;
	margin: 0 auto;
	padding: 1em;
	border-radius: 0.5em;
}
.certificados {
	margin: 0 auto;
}
.certificados img{
	width: 20rem;
	padding: 2em;
}

