{% extends "base.html" %}

{% block content %}

{% for project in projects %}
<article class="flex bg-white transition hover:shadow-xl dark:bg-gray-900 dark:shadow-gray-800/25">
  <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
      <span class="w-px flex-1 bg-gray-900/10 dark:bg-white/10"></span>
    </time>
  </div>

  <div class="hidden sm:block sm:basis-56">
    <img
      alt=""
      src="{{ project.image }}"
      class="aspect-square h-full w-full object-cover"
    />
  </div>

  <div class="flex flex-1 flex-col justify-between">
    <div
      class="border-s border-gray-900/10 p-4 sm:!border-l-transparent sm:p-6 dark:border-white/10"
    >
      <a href="{% url 'projects' %}/{{ project.title | lower }}">
        <h3 class="font-bold uppercase text-gray-900 dark:text-white">
          {{ project.title }}
        </h3>
      </a>

      <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700 dark:text-gray-200">
        {{ project.description | safe }}
      </p>
    </div>

    <div class="sm:flex sm:items-end sm:justify-end">
      <a
        href="{% url 'projects' %}/{{ project.title | lower }}"
        class="block bg-yellow-400 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-500"
      >
        Read Blog
      </a>
    </div>
  </div>
</article>

<br>

{% endfor %}

{% endblock %}